{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <center>
    <h1 style="color:purple">WLC! to the ORS HOME SERVER! .... Visit The repos!</h1>
    <h4><a href="https://github.com/orsnaro/Discord-Bot-Ai/tree/production-Home-Server?tab=readme-ov-file#discord-bot-project-wizard-gpteous--">Discord Bot Wizy🧙‍♂️🐋</a></h4>
    <h4><a href="https://github.com/orsnaro/Home-Server-API/tree/Production-Home-Ubuntu">HOME SERVER API📶</a></h4>
  
    <h1> <a href="https://discord.gg/SHA2SFdMWq">JOIN OUR DISCORD lovely island🏝️💙 </a> </h1>
    
    <a href='{{ url_for('pages.home') }}'>  <h1 style='color:purple'>  BACK TO 🏠! </h1> </a>
  </center>
  {% endblock content %}